body{
	background: #ddd;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	margin: 0;
}

.wrapper {
}

.header {
	width: 100%;
	padding: 50px 0 0;
	text-align: center;
	background: #bbb;
}

.header h1 {
	font-weight: 800px;
	font-size: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header h2 {
	margin: 0;
	text-shadow: -1px -1px 0px #bbb;
}